
body {
	margin: 30px;
}

h2 {
	padding: 20px;
	background-color: #f1f1f1;
	width: 500px;
}

ul {
	background-color: #f1f1f1;
	width: 500px;
	padding: 20px
}

li {
	list-style: none;
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

a:visited {
	color: red;
}
